:root{
    --padding-general: 0.2px 
    
}

.logo{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    text-align: right;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.page1{
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.page2{
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em; 

    color: #000000;
}

.page3{
    width: 67px;
    height: 16px;
    left: 667px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;


    color: #000000;
}

.email{
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;

}

.phone{
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}


.hero-bg-hero{
padding: var(--padding-general);
background-color: #060627;
color: aliceblue;
}

.button-primary{
    width: 197px;
    height: 30px;
    color: aliceblue;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    background-color: #2196F3;
}


.tittle{
    width: 270px;

}

.description{
    width: px;
    height: 95px;
    left: 5px;
    top: 01px;

    font-family:'Roboto';
    font-weight: 400;
    font-size: 14px;
}

._footer{
    padding: var(--padding-general);
    background-color: #060627;
    color: aliceblue;
}

.contac{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
    color: #757575;
}

.list{
    list-style-type: none;
}